<form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)">
    <h4 class="modal-title">{{data.popUpTitle}}</h4>
    <div class="form-group" [class.has-error]="name.invalid && name.touched" [class.has-success]="name.valid">
        <label for="name" class="control-label">Name</label>
        <input required id="name" name="name" [(ngModel)]="user.name" type="text" class="form-control" #name="ngModel">
        <span class="help-block" *ngIf="name.invalid && name.touched">
          Name is required
        </span>
      </div>

      <div class="form-group" [class.has-error]="email.invalid && email.touched" [class.has-success]="email.valid">
        <label for="email" class="control-label">Email</label>
        <input type="email" email=true required id="email" name="email" [(ngModel)]="user.email"   class="form-control" #email="ngModel">
        <span class="help-block" *ngIf="email.invalid && email.touched">
            email is required
        </span>
      </div>
      <div class="panel-footer" style="margin-top: 5px">
        <button type="submit" class="btn btn-primary" [disabled]="userForm.invalid">Save  </button>
        <a class="btn btn-secondary" style="float: right;"
        mat-stroked-button
        mat-dialog-close
        >
        Cancel </a>
      </div>
     


</form>
